<!DOCTYPE html>
<html>

<head>
  <title>wordgame</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <h2></h2>

  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Select game</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">
          <p><a href='/wordgame'>Word Game</a></p> <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link active" href="#">
          <p><a href='/wordgame'>Tamagotchi</a></p> <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link active" href="#">
          <p><a href='/wordgame'>Scrabble</a></p> <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link active" href="#">
          <p><a href='/wordgame'>Hangman</a></p> <span class="sr-only">(current)</span>
        </a>




      </div>
  </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-info">
          <div class="card-header bg-info">
            <center> Tamagotchi </center>
          </div>
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
              <img src='~/img/4.png' class="ml-3" alt="photo" height="100" weight="100">
            </div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card card-info">
          <div class="card-header bg-info">
            <center> Scrabble </center>
          </div>
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
              <img src='~/img/1.png' class="ml-3" alt="photo" height="100" weight="100">
            </div>
          </div>

        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="card card-info">
          <div class="card-header bg-info">
            <center>Word Game</center>
          </div>
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
              <img src='~/img/2.png' class="ml-3" alt="photo" height="100" weight="100">
            </div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card card-info">
          <div class="card-header bg-info">
            <center> Hangman </center>
          </div>
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
              <img src='~/img/3.jpg' class="ml-3" alt="photo" height="100" weight="100">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</body>

</html>