<html>
<body>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <div class="jumbotron">
<center><h1>Let's play</h1></center>
  </div>


  @if (@Model == null)
  {

  }
  else if (@Model.IsValidInput() == "")
  {
  <p>Your word @Model.GetUserWord() appears  @Model.CountWords() times in @Model.GetUserSentence()</p>
  }
  else
  {
  <p>please enter only numbers!</p>
  }
    <form action="/wordgame" method="post">
      <label for="userWord">Enter your word</label>
      <input id="userWord" name="userWord" type="text">
      <label for="userSentence">Enter your sentence</label>
      <input id="userSentence" name="userSentence" type="text"><br>
      <button id="button" type="submit">Play</button>
    </form>



    <a class="card-link" href="/">Play</a>
    <a class="card-link" href="/categories">Back to categories</a>
  </div>
</div>
</body>
</html>
