<html>
<body>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <div class="jumbotron">
<center><h1>Let's play</h1></center>
  </div>
    <form action="/categories" method="post">
      <label for="categoryName">Enter your word</label>
      <input id="categoryName" name="categoryName" type="text"> <button id="button" type="submit">Add</button><br>
    </form>

    <form action="/categories" method="post">
      <label for="categoryName">Enter your sentence</label>
      <input id="categoryName" name="categoryName" type="text"> <button id="button" type="submit">Add</button><br>
    </form>
    <a class="card-link" href="/">Play</a>
    <a class="card-link" href="/categories">Back to categories</a>
  </div>
</div>
</body>
</html>
